@font-face {
  font-family: "Hauora";
  src: url(/font/Hauora-Bold.woff2), url(/font/Hauora-Bold.woff);
}
@font-face {
  font-family: "Hauora";
  src: url(/font/Hauora-ExtraBold.woff), url(/font/Hauora-ExtraBold.woff);
}
@font-face {
  font-family: "Hauora";
  src: url(/font/Hauora-ExtraLight.woff2), url(/font/Hauora-ExtraLight.woff);
}
@font-face {
  font-family: "Hauora";
  src: url(/font/Hauora-Light.woff2), url(/font/Hauora-Light.woff);
}
@font-face {
  font-family: "Hauora";
  src: url(/font/Hauora-Medium.woff2), url(/font/Hauora-Medium.woff);
}
@font-face {
  font-family: "Hauora";
  src: url(/font/Hauora-Regular.woff2), url(/font/Hauora-Regular.woff);
}
@font-face {
  font-family: "Hauora";
  src: url(/font/Hauora-SemiBold.woff2), url(/font/Hauora-SemiBold.woff);
}
